template driven form 

<form (ngSubmit)="createDepartment(deptForm)" #deptForm="ngForm">

    <h2>Create Department</h2>

    <div>
        <input type="text" name="name" [(ngModel)]="department.name" required #name="ngModel" />
        <br />
        <input type="text" name="description" [(ngModel)]="department.description" required #desc="ngModel" />
        <br />
        <button type="submit">Create</button>
        <p> {{message}} </p>
    </div>
</form>

<!-- <div>
    <h1>Create New Department</h1>
    <div>
        <h2>Create Department</h2>

        <div>
            <label>Name:</label>
            <input type="text" [(ngModel)]="department.name" />
        </div>

        <div>
            <label>Description:</label>
            <input type="text" [(ngModel)]="department.description" />
        </div>

        <br />

        <button (click)="createDepartment()">Create</button>

        <hr />

        <p *ngIf="message">{{ message }}</p>

        <p *ngIf="error">{{ error }}</p>
    </div>
</div> -->