<div>
    <h1>Employee Component</h1>
    <div>
        <h3>Login form:</h3>
        <div>
            <input type="text" [(ngModel)]="username">
            <br />
            <input type="password" [(ngModel)]="password">
            <br />
            <button (click)="login()">Click</button>
            <br />
            <button (click)="demoClick()">Show or Hide</button>
        </div>
        <div *ngIf="isLoggedIn">
            <p> {{username}} </p>
            <p> {{password}} </p>
        </div>
        <div *ngFor ></div>
    </div>
</div>


<!-- <div>
    <h1>Employee Component</h1>
    <p>Employee data:</p>
    <p>Full Name: {{ `${employeeData.firstName} ${employeeData.lastName}` | uppercase }} </p>
    <p>Salary: {{employeeData.salary | currency: 'INR' }}/- </p>
    <button (click)="demoClick()">Click</button>
    <br />
    <button [disabled]="isDisabled">Click</button>
    <div>
        <input type="text" [(ngModel)]="username">
        <p>Username: {{ username }} </p>

        <div>
            <h3>Login form:</h3>
            <div>
                <input type="text" [(ngModel)]="username">
                <input type="password" [(ngModel)]="password">
                <button (click)="login()">Click</button>
            </div>
            <div *ngIf="isLoggedIn">
                <p> {{username}} </p>
                <p> {{password}} </p>
            </div>
        </div>
    </div>

</div> -->